<?xml version="1.0" encoding="UTF-8"?>
<!-- This Is Declaration For Name-Space For Spring Framework & also define 
	custome namespace like Maulik-SpringApp -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:Maulik-SpringApp="http://www.w3.org/2001/XMLSchema-instance"
	Maulik-SpringApp:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="applicationContext_employeeWithName" class="com.example.springframework.model.Employee"
		name="applicationContext_employeeWithName1,applicationContext_employeeWithName2">
		<property name="id" value="100" />
		<property name="name" value="Jignesh" />
	</bean>


</beans>